@import 'globals';

.app-navbar {
    background: $color-fa;
    border: solid 1px $color-f0;
}

.card {
    transition: $def-transition-property;
    border-radius: $def-border-radius;
    cursor: pointer;
    margin-top: $def-padding;
}

.card:hover {
    box-shadow: 0px 0px 10px 1px $color-f0;
    border-radius: 0px;
}

.card:hover > .card-text {
    @extend .card:hover;
    border: solid 1px transparent;
}

.card-text {
    background: $card-bg;
    color: $color-black;
    border: solid 1px transparent;
    border-radius: 5px;
    padding: $def-padding;
    transition: $def-transition-property;
}

.body-content {
    padding: $def-padding;
}

.add-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}