<!DOCTYPE html>
<html ng-app='langModule'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
		<title>Snippets</title>
		<link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' type='text/css' rel='stylesheet'>
		<script src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous'></script>
		<script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
		<!-- linking resources for code formattng library called 
		            highlight.js using CDN
        -->
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>

		<!--angular js include-->
		<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js' type='text/javascript'></script>
		<!-- font awesome CDN-->
		<!--<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' rel='stylesheet' />-->
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Nunito" rel="stylesheet">
		<!--using an angular logging service developed by me -->
		<script type='text/javascript' src='https://rawgit.com/sharma02gaurav/ng-dev-logger/master/ng-dev-module.js'></script>
		<script type='text/javascript' src='/script/ng-snippet-module.js'></script>
		<link type='text/css' rel='stylesheet' href='/stylesheets/default.css'/>
		<script>
			$(document).ready (function () {
                hljs.initHighlightingOnLoad ();
            });
		</script>
		<!-- IMPORT SAMPLE ANIMATION CSSS-->
	</head>
	<body ng-controller='LangModuleController'>

		<header class='app-navbar'>
			<img alt="Brand" src="/img/snippet.png" height=30>
		</header>

		<br/><br/><br/><br/>

		<section class='container'>
				<a class='btn btn-success btn-sm' data-backdrop='static' data-keyboard='false' data-toggle='modal' href='#create-modal'>
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; New snippet
			</a><br/><br/>

			<section class='dynamic-content'>
				<!-- load content dynamically here -->
			</section>
		</section>

		<section class="modal fade" id="create-modal">
			<section class="modal-dialog">
				<section class="modal-content">
					<section class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Add new Snippet</h4>
					</section>
					<section class="modal-body">
						<!-- show a dropdown to list the number of languages and 
						one another option to add a new language
						-->
						<section class="btn-group" role="group">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Select Language: <b ng-bind='editorModel.lang'></b>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li ng-repeat='lang in serialLanguages' 
									ng-click='setEditorLang (lang)'>
									<a href='#' >{{lang}}</a>
								</li>
								<li ng-click='setEditorLang ("Add new")'><a href="#"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create new</a></li>
							</ul>
						</section><br/><br/>
						<input ng-model='editorModel.lang' class='form-control' value='editorModel.lang' placeholder="Enter new language" ng-hide='editorModel.lang == undefined' /><br/>
						<input ng-model='title' class='form-control' placeholder="A description that describes this snippet"/> <br/>
						<textarea ng-model='snippet' class='form-control code-edit' id='code-input' placeholder="Enter your code snippet here" style='resize: none; height: 300px;'></textarea>
					</section>
					<section class="modal-footer">
						<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Dismiss</button>
						<!--  push to server-->
						<button type="button" class="btn btn-primary btn-sm" ng-click='newSnippet(editorModel.lang, title, snippet)'>Create</button>
						<p class='create-info text-center'></p>
					</section>
				</section>
			</section>
		</section>

		<section class="modal fade" id="delete-prompt-modal">
			<section class="modal-dialog">
				<section class="modal-content">
					<section class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Are you sure you want to delete {{aux.param1}} ?</h4>
					</section>
					<section class="modal-body">
						This will delete the language {{aux.param1}} permanently and all it's snippets.
					</section>
					<section class="modal-footer">
						<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Dismiss</button>
						<button type="button" class="btn btn-danger btn-sm" ng-click='deleteLang (aux.param1)'>Confirm</button>
					</section>
				</section>
			</section>
		</section>

		<section class="modal fade" id="delete-success">
			<section class="modal-dialog">
				<section class="modal-content">
					<section class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Success deleting <em>{{aux.param1}}</em></h4>
					</section>
				</section>
			</section>
		</section>

		<section class="modal fade" id="delete-error">
			<section class="modal-dialog">
				<section class="modal-content">
					<section class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Error deleting <em>{{aux.param1}}</em></h4>
					</section>
				</section>
			</section>
		</section>
		<!-- show loading-->
		<section class='abs-container-loading'>
				<section class="loader-container"><p class="loader"></p></section>
		</section>
	</body>
</html>