<section class="modal fade" id="edit-dialogue">
	<section class="modal-dialog">
		<section class="modal-content">
			<section class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{aux.snippet.title}}</h4>
			</section>
			<section class="modal-body">
				{{aux.snippet.body}}
			</section>
			<section class="modal-footer">
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary btn-sm">Update</button>
			</section>
		</section>
	</section>
</section>