<ol class="breadcrumb">
	<li ng-repeat='item in breadcrumbItems' ng-class="{{item == breadcrumbItems[breadcrumbItems.length-1] ? 'active' : ''}}">
		<button  class='btn btn-link' ng-click='handleBreadcrumbs (item)'>{{item}}</button>
	</li>
</ol>
<section class='container'>
	<section class='row' ng-repeat='group in languageGroup'>
		<section class='col-md-3 card' ng-repeat='lang in group' ng-click='showSnippetsFor (lang.name)'>
			<section class='card-text'>
				<p class='text-center'>{{lang.name}}</p>
				<b class='lang-sub text-center'>{{lang.snippetsCount}} Snippet(s)</b>

				<section class='del-icon'>
					<span class='glyphicon glyphicon-plus'></span>&nbsp;&nbsp;&nbsp;
					<span class='glyphicon glyphicon-trash'></span>
				</section>
			</section>
		</section>
	</section>
</section>d