<ol class="breadcrumb">
	<li ng-repeat='item in breadcrumbItems' ng-class="{{item == breadcrumbItems[breadcrumbItems.length-1] ? 'active' : ''}}">
		<button  class='btn btn-link' ng-click='handleBreadcrumbs (item)'>{{item}}</button>
	</li>
</ol>
<section class='container'>
	<section class='row' ng-repeat='group in languageGroup'>
		<section class='col-md-3 card' ng-repeat='lang in group'>
			<section class='card-text' ng-click='showSnippetsFor (lang.name)'>
				<p class='text-center'>{{lang.name}}</p>
				<b class='lang-sub text-center'>{{lang.snippetsCount}} Snippet(s)</b>

				<section class='card-icons'>
					<button class='btn btn-sm link-btn' ng-click='triggerAddSnippetFor ($event, lang.name)' data-toggle='tooltip' title='Add new snippet'><span  class='glyphicon glyphicon-plus'></span></button>
					<button class='btn btn-sm link-btn' ng-click='triggerDeleteLanguage ($event, lang.name)' data-toggle='tooltip' title='Delete language'><span class='glyphicon glyphicon-trash' ></span></button>
				</section>
			</section>
		</section>
	</section>
</section>d