<ol class="breadcrumb">
	<li ng-repeat='item in breadcrumbItems' ng-class="{{item == breadcrumbItems[breadcrumbItems.length-1] ? 'active' : ''}}">
		<button  class='btn btn-link' ng-click='handleBreadcrumbs (item)'>{{item}}</button>
	</li>
</ol>
<section class='container'>
	<section class='row' ng-repeat='group in snippetsGroup'>
		<section class='col-md-3 card' ng-repeat='snippet in group'>
			<section class='snippet-title-text'>
				<p class='text-center'>{{snippet.snippetTitle}}</p>
			</section>
		</section>
	</section>
</section>d