<ol class="breadcrumb">
	<li ng-repeat='item in breadcrumbItems' ng-class="{{item == breadcrumbItems[breadcrumbItems.length-1] ? 'active' : ''}}">
		<button  class='btn btn-link' ng-click='handleBreadcrumbs (item)'>{{item}}</button>
	</li>
</ol>
<section class='container-fluid'>
	<section class=''>
        <h3 class=''>{{reqSnippet.snippetTitle}}</h3>
    </section>
    <section class='container-fluid'>
        <section class='row'>
            <section class='col-md-12' class='code'>
                <pre>
                    <code>
{{reqSnippet.snippetText}}
                    </code>
                </pre>
            </section>
        </section>
        <section class='row'>
           <section class='col-md-4 footnotes-section'>
            <h5 class='fn-head'>Footnotes</h3>
                <ul class='list-group'>
                    <li class='list-group-item' ng-repeat='footnote in reqSnippet.footnotes'>{{footnote.text}}</li>
                </ul>
            </section>
        </section>
    </section>
</section>
